---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  header: string;
  subheader: string;
  posts: any[];
}

const { title, header, subheader, posts } = Astro.props;
---

<BaseLayout {title}>
  <section class="container-full mt-16 flex flex-col gap-16">
    <div class="flex flex-col gap-2">
      <h1 class="text-4xl">{header}</h1>
      <p class="opacity-50">{subheader}</p>
    </div>

    <div class="flex flex-col gap-4">
      {
        posts
          .filter((post) => post.data.published)
          .sort((a, b) => b.data.date - a.data.date)
          .map((post) => (
            <a id={post.slug} href={`/blogs/${post.slug}`} class="anchor flex flex-col items-start gap-0">
              <span class="line-clamp-1">{post.data.title}</span>
              <span class="line-clamp-1 text-sm text-text/50">posted on {post.data.date.toLocaleDateString()}</span>
            </a>
          ))
      }
    </div>
  </section>
</BaseLayout>
